{% extends "base.html" %}

{% block content %}
    <h1>Scores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td>{{ score.quiz.name }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}