{% extends "base.html" %}
{% block content %}
    <div class="container-fluid p-2 content">
      <div class="row">
      <div class="container col-md-6 d-flex justify-content-center align-items-center"">
          <div class="text-center">
        <h1 class="welcome-line">Welcome to Quiz<img src="{{ url_for('static', filename='img/favicon2.png') }}" class="mx-2" style="border-radius: 1rem 0 0 1rem; height: 50px; width: 50px;" />Master!</h1>
          </div>
      </div>

      <div class="container col-md-6 text-center px-2">
        <h2 class="text-center my-3">Login/Register</h2>
        <div class="row align-items-start">
          <div class="col-12 col-md text-center">
            <div class="student-icon">
              <a href="{{url_for('auth.user_login')}}" class="btn"><i class="fas fa-user"></i></a>
            </div><h3>Student?</h3>
            <a href="{{url_for('auth.user_login')}}" class="btn btn-primary mx-2 my-2">
              <i class="fas fa-user px-2"></i> Student Login
            </a>
            <a href="{{url_for('auth.register')}}" class="btn btn-primary">
              <i class="fas fa-user-plus px-2"></i>Student Registration
            </a>
          </div>
          <div class="d-none d-md-block divider"></div>
          <div class="col-12 col-md text-center py-5">
            <div class="admin-icon">
              <a href="{{url_for('admin.login')}}" class="btn"><i class="fas fa-user-shield"></i></a>
            </div><br>
            <a href="{{url_for('admin.login')}}" class="btn btn-danger py-auto my-3">
              <i class="fas fa-user-shield px-2"></i> Admin Login
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
{% endblock %}